.layout {
  width: 50vw;
  aspect-ratio: 16/9;  
  border: 2px solid black;
  border-radius: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}