* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }

  &:link {
    color: inherit;
  }

}

